#wrapper{
    display: grid;
    grid-template-columns: 1fr minmax(100px,800px) minmax(80px,400px) 1fr;
    grid-auto-rows: 400px;

}
* {border: 2px solid pink;

}
.box1 { grid-row: 1/3;
    grid-column: 3;
background-color: blue;
}
.box2 {
  background-color: lightgreen;
  grid-column: 2;
  grid-row: 1;
}
.box3 {
    background-color: purple;
    grid-column: 1;
    grid-row: 1/3;
}
.box4 {
  background-color: purple;
  grid-column: 4;
  grid-row: 1/3;
}
.box5 {
    background-color: aqua;
    grid-column: 2;
    grid-row: 2;
}

