#wrapper{
    display: grid;
    grid-template-columns: 1fr minmax(100px,800px) minmax(80px,400px) 1fr;
    grid-auto-rows: 400px;

}
* {border: 2px solid pink;

}
.box1 { grid-row: 1/3;
    grid-column: 3;
background-color: rgb(248, 167, 205);
}
.box2 {
  background-color: rgb(248, 167, 205);
  grid-column: 2;
  grid-row: 1;
}
.box3 {
    background-color: rgb(248, 167, 205);
    grid-column: 1;
    grid-row: 1/3;
}
.box4 {
  background-color: rgb(248, 167, 205);
  grid-column: 4;
  grid-row: 1/3;
}
.box5 {
    background-color: rgb(248, 167, 205);
    grid-column: 2;
    grid-row: 2;
}
.box1 nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}
.box1 nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 1rem;
}
.box1 nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
#cgn {
    grid-row: 2;
    grid-column: 2;
}
#ncaa {
     grid-row: 2;
    grid-column: 2;
}