* { 
  box-sizing: border-box;
}
#wrapper {
    display: grid;
    grid-template-columns: 1fr minmax(100px, 800px) minmax(80px, 400px) 1fr;
    padding-left: 20px;
}
body {
    background: linear-gradient(to left, rgb(248, 167, 205),rgb(250, 250, 139));
}

.box1 {
    grid-row: 1/3;
    grid-column: 3;
    width: 250px;
}

.box2 {
    grid-column: 2;
    grid-row: 2;
    text-align: center;
}

.box3 {
    grid-column: 1;
    grid-row: 1/3;
}

.box4 {
    grid-column: 4;
    grid-row: 1/3;
}

.box5 {
    grid-column: 2;
    grid-row: 2;
}

nav {
    display:flex; flex-direction: column;
    justify-content: space-around;
    position: sticky;
    height: 100vh;
    top: 0;
}

nav span {
    float:right;
    margin-right: 4px;
    line-height: 0;
    margin-top: 2px;
}
nav a {
    text-decoration: none;
    color: black;
    background-color: lightblue;
    border-radius: 100px;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
}
/* nav ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
} */
h2 {
    border: .5px solid rgb(84, 84, 84);
    border-radius: 100px;
    padding: 5px 15px;
    display: inline;
}
#cgn {
    grid-row: 1;
    grid-column: 2;
    text-align: center;
}


body {
    margin: 0px;
}
.top-space {
  height: 70px;
}
#pinkflip img{
    border-radius: 10%;
    width: 500px;
}
@media screen and (max-width: 992px) {
  #wrapper {
    grid-template-columns: 10px 530px 1fr;
  }
  #pinkflip img {
    border-radius: 10%;
    width: 400px;
  }
}
@media screen and (max-width: 768px) {
  #wrapper {
    grid-template-columns: 1fr;
  }

  .left-column,
  .right-column {
    display: none;
  }

  .center-column {
    width: 100%;
  }
  /* nav ul {
    flex-direction: column;
    align-items: center;
  } */
    #pinkflip img {
    border-radius: 10%;
    width: 300px;
  }
}
@media screen and (max-width: 570px) {
  #wrapper {
   display: block;
  }
nav a {
    margin: 5px;
    padding: 5px;
    font-size: 14px;
}
nav {
    margin-top: 10px;
    position: relative;
    height: 100%;
  
}

}
form {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 250px 1fr;
  gap: 0.75rem;
  width: 90%;
}
#cu {
  padding: 30px;
}
.news-item {
    background: rgba(255, 255, 255, 0.6);
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 5px;
}

.box1 nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}
#events {
    padding: 20px;
}

.section-title {
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: black;
}

.event {
    background: rgba(0,0,0,0.1);
    padding: 20px;
    margin-bottom: 25px;
    border-radius: 10px;
    border: 2px solid #f7a3c7;
}

.event h4 {
    margin-top: 0;
}

.ticket-btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 18px;
    background: #f7a3c7;
    color: black;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}
.ticket-btn:hover {
    background: #d1006c;
}


