#wrapper {
    display: grid;
    grid-template-columns: 1fr minmax(100px, 800px) minmax(80px, 400px) 1fr;
    padding-left: 20px;
}
body {
    background: linear-gradient(to left, rgb(248, 167, 205),rgb(250, 250, 139));
}

.box1 {
    grid-row: 1/3;
    grid-column: 3;
}

.box2 {
    grid-column: 2;
    grid-row: 1;
    text-align: center;
}

.box3 {
    grid-column: 1;
    grid-row: 1/3;
}

.box4 {
    grid-column: 4;
    grid-row: 1/3;
}

.box5 {
    grid-column: 2;
    grid-row: 2;
}

nav {
    display:flex; flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

nav span {
    float:right;
    margin-right: 4px;
    line-height: 0;
    margin-top: 2px;
}
nav a {
    text-decoration: none;
    color: black;
    background-color: lightblue;
    border-radius: 100px;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
}
/* nav ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
} */
h2 {
    border: .5px solid rgb(84, 84, 84);
    border-radius: 100px;
    padding: 5px 15px;
    display: inline;
}
#cgn {
    grid-row: 2;
    grid-column: 2;
    text-align: center;
}

#ncaa {
    grid-row: 2;
    grid-column: 2;
}

body {
    margin: 0px;
}
.top-space {
  height: 70px;
}
#pinkflip img{
    border-radius: 10%;
    width: 500px;
}
@media screen and (max-width: 992px) {
  #wrapper {
    grid-template-columns: 10px 530px 1fr;
  }
  #pinkflip img {
    border-radius: 10%;
    width: 400px;
  }
}
@media screen and (max-width: 768px) {
  #wrapper {
    grid-template-columns: 1fr;
  }

  .left-column,
  .right-column {
    display: none;
  }

  .center-column {
    width: 100%;
  }
  /* nav ul {
    flex-direction: column;
    align-items: center;
  } */
    #pinkflip img {
    border-radius: 10%;
    width: 300px;
  }
}
@media screen and (max-width: 570px) {
  #wrapper {
   display: block;
  }
nav a {
    margin: 5px;
    padding: 5px;
    font-size: 14px;
}
nav {
    margin-top: 10px;
}

}


