#wrapper {
    display: grid;
    grid-template-columns: 1fr minmax(100px, 800px) minmax(80px, 400px) 1fr;

}
body {
    background: linear-gradient(to left, rgb(248, 167, 205),rgb(250, 250, 139));
}

.box1 {
    grid-row: 1/3;
    grid-column: 3;
}

.box2 {
    grid-column: 2;
    grid-row: 1;
}

.box3 {
    grid-column: 1;
    grid-row: 1/3;
}

.box4 {
    grid-column: 4;
    grid-row: 1/3;
}

.box5 {
    grid-column: 2;
    grid-row: 2;
}

nav {
    display:flex; flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

nav span {
    float:right;
    margin-right: 4px;
}
nav a {
    text-decoration: none;
    color: black;
    background-color: lightblue;
    border-radius: 100px;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
}
h2 {
    border: .5px solid rgb(84, 84, 84);
    border-radius: 100px;
    padding: 5px;
    display: inline;
}
#cgn {
    grid-row: 2;
    grid-column: 2;
}

#ncaa {
    grid-row: 2;
    grid-column: 2;
}

body {
    margin: 0px;
}
.top-space {
  height: 70px;
}