body {
  background: linear-gradient(#eeeeee, #ffffff);
  background-attachment: fixed;
  margin: 0px;
}

header {
    background-color: #003058;
    color: #FFFFFF;
    font-family: Georgia;
    grid-row: 1 / 2;
  grid-column: 2 / -2;
}

header h1 {
    background-image: url(images/utahtechlogo.svg);
    background-position: right;
    background-repeat: no-repeat;
    line-height: 140%;
    padding: .5rem;
    padding-left: 1em;
    background-origin: content-box;
    margin: 0;
}

nav {
    font-weight: bold;
    background-color: #424242;
    position: sticky;
    top:0;
      grid-row: 2 / 3;
  grid-column: 2 / -2;
}
nav ul {
  margin: 0px;               
  padding: 0px;             
  display: flex;            
  flex-flow: row nowrap;     
  list-style-type: none;     
}
nav ul li {
  width: 100%;
}

h2 {
    color: #424242;
    font-family: Georgia
}

h3 {
    color: #003058;

}

main {
    padding-left: 2rem;
    padding-right: 2rem;
    grid-row: 4 / 5;
  grid-column: 2 / -2;
  background: #ffffff;
}

dt {
    color: #003058;
    font-weight: bold
}

.ut {
    color: #BA1C21;
    font-weight: bold;
}

footer {
    font-size: .70rem;
    font-style: italic;
    text-align: center;
    padding: 1rem;
    grid-row: 5 / 6;
  grid-column: 2 / -2;
}

#wrapper {
display: grid;
  grid-auto-rows: minmax(0px, auto);
  grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr);
}

img {
    width: 300px
}

#homehero {
    height: 300px;
    background-image: url(images/homehero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#studenthero {
    height: 300px;
    background-image: url(images/studenthero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#facultyhero {
    height: 300px;
    background-image: url(images/facultyhero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

nav a {
    text-decoration: none;
    color: #FFFFFF;
    padding: 1rem 0rem;
    display: block; 
    text-align: center; 
    text-decoration: none;
}
nav a:hover {
  background-color: #BA1C21; 
  transition: background-color .5s ease-out;
}
* { 
    box-sizing: border-box; 
}
#homehero,
#studenthero,
#facultyhero {
  grid-row: 3 / 4;
  grid-column: 1 / -1;
}
header a {
  text-decoration: none;
  color: #ffffff;
}
main img {
  float: right;
  padding-left: 2rem;
}
#bluebar {
    background-color: #003058;
    grid-row: 1/2;
    grid-column: 1/-1;
}
#greybar {
    background-color: #424242;
    grid-row: 2/3;
    grid-column: 1/-1;
}

@media only screen and (max-width: 1100px) {
    #wrapper {
          grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 150px)) minmax(0px, 1fr);
    }
}
@media only screen and (max-width: 900px) {
nav {
    grid-row: 2 / 3;
    grid-column: 1 / 5;
    position: static;
}
nav ul {
    flex-flow: column nowrap;
}
#homehero,
  #studenthero,
  #facultyhero {
    grid-row: 2 / 3;
    grid-column: 5 / 8;
    height: auto;
  }
  main img {
    float: none;
    width: 100%;
    height: auto;
    padding-left: 0px;
  }
  video {
    float: none;
    margin: 0;
    width: 100%;
    height: auto;
  }
}
@media only screen and (max-width: 600px) {
     header h1 {
    background-image: none;
    text-align: center;
  }
  nav {
    grid-row: 2 / 3;
    grid-column: 1 / -1;
  }
  #homehero,
  #studenthero,
  #facultyhero {
    display: none;
  }
}
form {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 200px 1fr;
  gap: 0.75rem;
  width: 100%;
}
input,
textarea {
  font-size: 1rem;
  padding: 10px;
  color: #666666;
  background-color: #fafafa;
  border: none;
}
input:focus,
textarea:focus {
  outline: none;
  background-color: #f0f0f0;
}
label {
  padding: 10px;
  text-align: right;
}
#mySubmit {
  width: 10rem;
  grid-column: 2 / 3;
}
#alumnihero {
  background-image: url("images/alumnihero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  width: 100%;
}
table {
  margin: 0 auto;
  border: 1px solid #424242;
  width: 100%;
  border-collapse: collapse;
}
td, th {
  padding: 5px;
  border: 1px solid #424242;
}
td {
  text-align: center;
}
.text {
  text-align: left;
}
tr:nth-of-type(even) {
  background-color: #F3F3F3;
}
video {
  float: right;
  margin-left: 2em;
}
